body {
  font-family: "Zen Kaku Gothic New", sans-serif;
}

#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

h1 {
  color: whitesmoke;
  font-size: 30px;
  font-weight: 100;
  line-height: 28px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: whitesmoke;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 100px auto;
  position: relative;
}

.weather-app {
  padding: 20px;
  border: 1px solid rgb(112, 172, 190);
  border-radius: 10px;
  background: rgb(112, 172, 190);
}

.overview {
  margin-bottom: 20px;
}

.float-left {
  padding-top: 10px;
}

.weather-temperature strong {
  color: #ec6e4c;
  font-size: 64px;
  font-family: "Shadows Into Light", cursive;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  color: whitesmoke;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: whitesmoke;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.humidity {
  padding-top: 20px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: whitesmoke;
}

.weather-forecast-day {
  font-size: 16px;
  opacity: 0.6;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}

footer {
  color: whitesmoke;
}
