body {
  font-family: "Zen Kaku Gothic New", sans-serif;
}

h1 {
  color: rgb(70, 67, 68);
  font-size: 30px;
  font-weight: 100;
  line-height: 28px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(70, 67, 68);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app {
  padding: 30px;
  border: 1px solid rgb(70, 67, 68);
  border-radius: 10px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 100px auto;
}

.float-left {
  padding-top: 10px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.humidity {
  padding-top: 20px;
}
